.loading-content{
    @apply w-full h-full flex items-center justify-center fixed top-0 left-5
}
.loading-bar-1{
    @apply w-20 h-20 border-l-4 border-b-4 border-azul-200 rounded-full absolute animate-spin
}
.loading-bar-2{
    @apply w-16 h-16 border-r-4 border-t-4 border-azul-200 rounded-full absolute animate-spin-inverse
}
.loading-bar-3{
    @apply w-12 h-12 border-t-4 border-l-4 border-azul-200 rounded-full absolute animate-spin-inverse-lento
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin-inverse {
    to {
        transform: rotate(-360deg);
    }
}

.animate-spin {
    animation: spin 1.5s linear infinite;
}
.animate-spin-inverse{
    animation: spin-inverse 1.7s linear infinite;
}
.animate-spin-inverse-lento{
    animation: spin 2s linear infinite;
}