@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/aquire');
@import url('https://fonts.cdnfonts.com/css/cheorcy');
@import url('https://fonts.cdnfonts.com/css/aquatico');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CONFIGURAÇÕES DE ESTILOS INICIAIS */
* {
    font-family: 'Montserrat', sans-serif;
}

/* FONTES */
.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.font-aquire {
    font-family: 'Aquire', sans-serif;
    @apply select-none
}
.font-cheorcy {
    font-family: 'Cheorcy', sans-serif;
    @apply select-none
}
.font-aquatico{
    font-family: 'Aquatico', sans-serif;
    @apply select-none  
}

/* SCROLL */
::-webkit-scrollbar {
    @apply w-2
}
::-webkit-scrollbar-track {
    @apply bg-transparent
}
::-webkit-scrollbar-thumb {
    @apply rounded-3xl bg-neutro-500 hover:bg-neutro-300 dark:bg-neutro-100 dark:hover:bg-neutro-200
}

/* ESTILOS BÁSICOS */
.page-body{
    @apply w-full h-screen
}
.subpage{
    @apply w-full h-full bg-neutro-100 flex flex-col
}