@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/aquire');
@import url('https://fonts.cdnfonts.com/css/cheorcy');
@import url('https://fonts.cdnfonts.com/css/aquatico');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CONFIGURAÇÕES DE ESTILOS INICIAIS */
* {
    font-family: 'Montserrat', sans-serif;
}

/* FONTES */
.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}
.font-poppins{
    font-family: 'Poppins', sans-serif;
}
.font-aquire {
    font-family: 'Aquire', sans-serif;
    @apply select-none
}
.font-cheorcy {
    font-family: 'Cheorcy', sans-serif;
    @apply select-none
}
.font-aquatico{
    font-family: 'Aquatico', sans-serif;
    @apply select-none  
}

/* SCROLL */
::-webkit-scrollbar {
    @apply w-2
}
::-webkit-scrollbar-track {
    @apply bg-transparent
}
::-webkit-scrollbar-thumb {
    @apply rounded-3xl bg-neutro-500 hover:bg-neutro-300 dark:bg-neutro-100 dark:hover:bg-neutro-200
}

/* ESTILOS BÁSICOS */
.page-body{
    @apply w-full h-screen
}
.subpage{
    transition: ease 0.2s 100ms;
    @apply w-full h-full bg-neutro-100 dark:bg-neutro-600 flex flex-col pt-14 md:pt-0
}
.page-content{
    @apply w-full h-full overflow-auto px-2 md:px-5 flex flex-col gap-3 py-1
}
.conteudo-content{
    @apply w-full h-full flex flex-col gap-3 justify-between
}
.content-cards{
    @apply flex flex-wrap gap-2
}

/* ESTILOS BÁSICOS CONTEUDOS */
.header-content{
    @apply text-sm flex items-center justify-between
}
.btn-add{
    @apply bg-azul-200 p-2 rounded
}

/* TABELAS */
table{
    @apply w-full bg-white dark:bg-neutro-600 rounded-lg text-sm table-auto relative
}
.table-row-header th{
    @apply p-3 bg-neutro-150 dark:bg-neutro-400 text-start dark:text-neutro-100
}
.table-row-body{
    @apply border-b border-neutro-200 dark:border-neutro-400 dark:bg-neutro-500 dark:text-neutro-150
}
.table-row-body td{
    @apply p-3 text-start 
}
.active-card{
    @apply bg-verde-100 border border-verde-200 rounded-lg font-semibold text-verde-200 px-2 w-fit text-xs
}
.inactive-card{
    @apply bg-vermelho-100 border border-vermelho-200 rounded-lg font-semibold text-vermelho-300 px-2 w-fit text-xs
}
.active-email-card{
    @apply bg-azul-100 border border-azul-300 rounded-lg font-semibold text-azul-300 px-2 w-fit text-xs
}
.inactive-email-card{
    @apply bg-neutro-100 border border-neutro-300 rounded-lg font-semibold text-neutro-300 px-2 w-fit text-xs
}
.content-buttons-action{
    @apply flex items-center gap-1
}
.edit-action-btn{
    @apply bg-azul-100 border border-azul-300 rounded-lg text-azul-300 px-2 w-fit hover:bg-azul-300 hover:border-azul-100 hover:text-azul-100 duration-150
}
.delete-action-btn{
    @apply bg-vermelho-100 border border-vermelho-300 rounded-lg text-vermelho-300 px-2 w-fit hover:bg-vermelho-200 hover:border-vermelho-100 hover:text-neutro-100 duration-150
}
.restore-action-btn{
    @apply bg-verde-100 border border-verde-200 rounded-lg text-verde-200 px-2 w-fit hover:bg-verde-200 hover:border-verde-100 hover:text-verde-100 duration-150
}
.view-action-btn{
    @apply bg-neutro-300 border border-neutro-400 rounded-lg text-neutro-200 px-2 w-fit hover:bg-neutro-200 hover:border-neutro-100 hover:text-neutro-300 duration-150
}

/* ESTILOS BÁSICOS TELAS ADD E EDIT */
.form-add-edit{
    @apply w-full md:w-1/2 bg-white dark:bg-neutro-500 rounded-lg text-sm flex flex-col gap-5 shadow-sm 
}
.content-inputs{
    @apply flex p-2 flex-col gap-2
}
.input-group-add-edit{
    @apply flex flex-col w-full md:w-1/2
}
.label-add-edit{
    @apply text-sm font-semibold dark:text-neutro-150
}
.input-add-edit{
    @apply bg-neutro-100 dark:bg-neutro-400 dark:border-neutro-300 dark:border-opacity-20 dark:text-neutro-100 rounded placeholder:text-neutro-300 p-2 text-sm border border-neutro-200
}
.container-buttons-add-edit{
    @apply w-full py-3 px-2 bg-neutro-200 dark:bg-neutro-400 rounded-b-lg flex justify-end gap-2 
}
.btn-save{
    @apply rounded bg-verde-100 px-2 py-1 font-semibold hover:shadow-md hover:bg-verde-200 hover:text-neutro-100 duration-200
}
.btn-cancel{
    @apply rounded bg-vermelho-200 px-2 py-1 font-semibold hover:shadow-md hover:bg-vermelho-300 hover:text-neutro-100 duration-200
}